
.location-card {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 2px 4px #0f223a1f;
}

.location-card__details{
 display: flex;
 gap: 10px;

}

.location-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255,); /* Increase/decrease opacity */
  z-index: 1;
}

.location-card > * {
  position: relative;
  z-index: 2;
}


.location-card__content {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  flex: 1;
  z-index: 2;
}

.location-card__icon {
  min-width: 30px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #0d6efd;
  color: #ffffff;
}

.location-card__details {
  flex: 1;
}

.location-card__title {
  margin: 0px;
  font-size: 22px;
  font-weight: 700;
  color: #2a3fa0;
}

.location-card__address {
  margin: 0;
  font-size: 15px;
  line-height: 1.7;
  color: #101010;
  max-width: 400px;
}

.location-card__map {
  min-width: 90px;
  width: 90px;
  height: 90px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 18px;

  background:
    linear-gradient(
      135deg,
      #eef5ff,
      #dbeafe
    );

  color: #0d6efd;

  z-index: 2;
}

/* Mobile */
@media (max-width: 768px) {
  .location-card {
    padding: 16px;
    border-radius: 12px;
  }

  .location-card__title {
    font-size: 13px;
    font-weight: 500;
  }

  .location-card__address {
    font-size: 10px;
    line-height: 1.5;
  }

  .location-card__map {
    width: 70px;
    height: 70px;
    min-width: 70px;
  }

  .location-card__content {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  flex: 1;
  z-index: 2;
}
}