/* =========================
   HEADER
========================= */

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar-header {
  height: 65px;
  background: #2a3fa0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
}

.navbar-logo {
  height: 48px;
}

.navbar-header__right {
  display: flex;
  align-items: center;
  gap: 24px;
}

.navbar-icon-btn {
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

.navbar-profile {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #fff;
  cursor: pointer;
}

.navbar-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  color: #2a3fa0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.navbar-user__name {
  font-size: 18px;
  font-weight: 600;
}

/* =========================
   MENU
========================= */

.navbar-menu {
  height: 50px;
  background: #fff;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0 24px;
  border-bottom: 1px solid #e5e7eb;
}

.navbar-link {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 50px;
  padding: 0 16px;
  color: #667085;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  border-bottom: 3px solid transparent;
  transition: all 0.2s ease;
}

.navbar-link:hover {
  color: #2a3fa0;
}

.navbar-link--active {
  color: #2a3fa0;
  border-bottom-color: #2a3fa0;
  font-weight: 600;
}

@media (max-width: 768px) {
  .navbar-header__left img {
    height: 42px;
  }

  .navbar-header {
    padding: 0px;
  }

  .navbar-avatar {
    height: 30px;
    width: 30px;
  }

  .navbar-user__name {
    font-size: 12px;
     font-weight: 400;
  }
  .navbar-profile {
    gap: 5px;
  }
}

.navbar-menu {
  display: flex;
}

/* Hide on mobile & tablet */
@media (max-width: 991px) {
  .navbar-menu {
    display: none;
  }
}
/* Show on desktop by default */


/* dropdown  */


.navbar-profile-wrapper {
  position: relative;
}

.navbar-profile {
  cursor: pointer;
}

.navbar-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 150px;
  background: #fff;
  border-radius: 12px;
  box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.20);
  overflow: hidden;
  z-index: 1000;
}

.navbar-dropdown__item {
  padding: 10px 14px;
  cursor: pointer;
  font-size: 14px;
  color: #374151;
}

.navbar-dropdown__item:hover {
  background: #f3f4f6;
}